*{
  
  font-family: "Lato", sans-serif;
    background: black;
    
}
body{
  overflow-x: hidden;
}



.sub .subactiv {
  
  animation: glow 1s ease-in-out infinite alternate;
}
/*  glow effect */
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px red, 0 0 20px , 0 0 30px red, 0 0 40px black, 0 0 50px #e60073, 0 0 60px black, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px red, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.sub{
  
  color:white;
  display:flex;
  flex:wrap;
  justify-content:center;
  
}
.sub a{
  text-decoration: none;
    font-weight: 1000;
  margin: 0 20px;
  background: none;
  color:white;
  border:none;
  font-size: 20px;
  
}
.subactiv a{
  color: red;
}

.dc{ 
  
  margin: 0;
 padding: 0;
  text-align: center;
  color: white;
  font-size:30px;
}
.dcpdf{
  text-align: center;
}

.os{ 
  
  text-align: center;
  color: white;
  font-size:30px;
  
}
.ospdf{
  text-align: center;
}
/* sems */
.filt{
  display: flex;
  flex: wrap;
  justify-content: center;
  margin-top: 25px;
  font-size: 30px;
}
.sems {
  color:white;
  display:flex;
  flex:wrap;
  justify-content:center;
}
.sems button {
  border: none;
  background: none;
  height: 40px;
  text-decoration: none;
  padding: 6px;
  color:white;
}

.sems :hover{
  
  animation: glow 1s ease-in-out infinite alternate;
color: red;
font-weight: bolder;

  
}



.footer-clean {
  padding:0px 0;
  padding-top: 30px;
  
  
  color:white;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:1px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  
  opacity: 30%;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}
